.cardInfo {
  width: 100%;
}

.cards-content {
  max-width: 400px;
  margin: auto;
}
.container {
  display: block;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 4px 4px 4px 4px;
}

.cards {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  margin: 50px;
  border-radius: 5px;
}

@media only screen and (min-width: 700px) {
  .cards-content {
    margin: unset;
  }
}