.Banner{
  height: 500px;
  background-color:rgb(50,23,77);;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Banner h1 {
  font-size: 4rem;
  font-weight: 300;
  color: white;
}

@media only screen and (max-width: 700px) {
  .Banner h1 {
    font-size: 3rem;
    text-align: center;
  }
}